@import "reset.css";

* {
  box-sizing: border-box;
}

.header {
  background-color: yellowgreen;
  height: 20vh;
  width: 90rem;
  margin: 0 auto;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.header .img_wrapper1 img{
  margin-right: 20px;
}

.header .img_wrapper2 img {
  margin-left: 20px;
}

.search_form{
  width: 700px;
  height: 70px;
  margin: 0 auto;
  position: relative;
}

.search_input{
  width: inherit;
  height: inherit;
  border-radius: 50px;
  display: block;
  position: relative;
}

.logo_img {
  position: absolute;
  top: 19px;
  left: 21px;
}

.search_img {
  position: absolute;
  top: 19px;
  right: 21px;
}
